<main>
  <div class="search">
    <form>
      <input type="search" placeholder="Find user repositories">
      <button>
        Search
      </button>
    </form>
    <div id="result">
      <div class="user-name">
        Enter user name for found repositories!
      </div>
      <ul>
      </ul>
    </div>

  </div>
</main>
