---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/eeee
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"650a85ee83e8fc1e5744e102443e83e806aa9496e179d093b1d222fa2046abb6"
      Last-Modified:
      - Sun, 11 Dec 2022 19:07:05 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1701613307'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"login":"eeee","id":3380505,"node_id":"MDQ6VXNlcjMzODA1MDU=","avatar_url":"https://avatars.githubusercontent.com/u/3380505?v=4","gravatar_id":"","url":"https://api.github.com/users/eeee","html_url":"https://github.com/eeee","followers_url":"https://api.github.com/users/eeee/followers","following_url":"https://api.github.com/users/eeee/following{/other_user}","gists_url":"https://api.github.com/users/eeee/gists{/gist_id}","starred_url":"https://api.github.com/users/eeee/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/eeee/subscriptions","organizations_url":"https://api.github.com/users/eeee/orgs","repos_url":"https://api.github.com/users/eeee/repos","events_url":"https://api.github.com/users/eeee/events{/privacy}","received_events_url":"https://api.github.com/users/eeee/received_events","type":"User","site_admin":false,"name":null,"company":null,"blog":"","location":null,"email":null,"hireable":null,"bio":null,"twitter_username":null,"public_repos":0,"public_gists":0,"followers":0,"following":0,"created_at":"2013-01-25T10:51:25Z","updated_at":"2022-12-11T19:07:05Z"}'
  recorded_at: Sun, 03 Dec 2023 13:40:59 GMT
- request:
    method: get
    uri: https://api.github.com/users/eeee/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"992aaf92b487506974e4305db4a64326866f3ed48b2ba424cef8fbe4e28f72b0"'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '52'
      X-Ratelimit-Reset:
      - '1701613307'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '8'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 03 Dec 2023 13:40:59 GMT
recorded_with: VCR 6.2.0
